{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #8B4513;">
    <div class="container">
        <a class="navbar-brand" >
            <img src="{% static 'badge.jpeg' %}" alt="School Logo" style="height: 30px; width: auto;" class="me-2">
            KHS-N
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Academics
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'academics' %}">Overview</a></li>
                        <li><a class="dropdown-item" href="{% url 'programs' %}">Programs</a></li>
                        <li><a class="dropdown-item" href="{% url 'subjects' %}">Subjects</a></li>
                        <li><a class="dropdown-item" href="{% url 'calendar' %}">Calendar</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_list' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            
            <!-- This is the login button in the nav bar-->
            <!--<div class="navbar-nav">
                {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user me-1"></i> Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/">Dashboard</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form method="post" action="{% url 'admin:logout' %}" class="m-0">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
                {% else %}
                <a class="nav-link" href="{% url 'admin:login' %}">
                    <i class="fas fa-sign-in-alt me-1"></i> Login
                </a>
                {% endif %}
            </div>-->
        </div>
    </div>
</nav>